@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
   <p>
     Welcome to the Twitter API!<br />
     Please choose one of the following options to start.

   </p>

    <p>
        <input type="button" value="Get a tweet" onclick="document.location.href = '/Twitter/GetTweet/'" />
    </p>

    <p>
        <input type="button" value="Get latest tweets from home" onclick="document.location.href = '/Twitter/LatestHomeTweets/'" />
    </p>

     <p>
        <input type="button" value="Send a tweet" onclick="document.location.href = '/Twitter/PostTweet/'" />
    </p>
</div>
